.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  gap: 2rem;
}

.subtitle {
  color: white;
  font-size: 2.5rem;
  font-family: "Roboto";
  font-weight: 300;
}

.input {
  padding: 1.5rem;
  border: none;
  border-bottom: solid 1px white;
  outline: none;
  background-color: #1f1f1f;
  font-family: "Roboto";
  color: white;
  font-weight: 300;
}
.input:focus {
  outline: 1px solid #77b0d9;
  border-bottom: solid 1px #77b0d9;
}

.container-error {
  padding: 2rem 0;
  background-color: #ffb4a2;
}

.container-success {
  padding: 2rem 0;
  background-color: hsl(165, 80%, 42%);
}

.error,
.success {
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Roboto";
  font-weight: 500;
}

.btn:hover {
  background-color: hsl(220, 100%, 50%);
  color: white;
  width: 100%;
}

.disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}
.disabled:hover {
  background-color: gray;
  color: white;
}
