@use "../abstract/variables" as v;

.navbar {
  padding: 2rem 6rem;
  background-color: v.$black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
}
.link-home {
  color: v.$primary;
  font-size: 2.5rem;
  font-weight: 300;
}

.logged {
  color: v.$orange;
  font-size: 1.8rem;
}

.container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.link {
  color: v.$primary;
  font-size: 2.5rem;
  &:hover{
    text-decoration: underline;
    color: hsl(200, 80%, 42%);
  }
}
