.navbar {
  padding: 2rem 6rem;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
}

.link-home {
  color: hsl(165, 80%, 42%);
  font-size: 2.5rem;
  font-weight: 300;
}

.logged {
  color: #ffb4a2;
  font-size: 1.8rem;
}

.container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.link {
  color: hsl(165, 80%, 42%);
  font-size: 2.5rem;
}
.link:hover {
  text-decoration: underline;
  color: hsl(200, 80%, 42%);
}
